.contact {
  background-color: white;
  display: flex;
  margin: 38px 55.8px;
}

.left {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 28px;
  width: 50%;
  line-height: 1.3;

  font-size: 42px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-details {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.icon {
  width: 30px;
  height: 30px;
}

.span {
  color: #646563;
  font-size: 16px;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.wrapper {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 46px 18px;
  width: 76%;
  height: 84%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.input {
  height: 58px;
  background: #ffffff;
  border: none;
  border-radius: 58px;
  padding: 20px 12px;
  width: 100%;
}

.textarea {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 20px;
  padding: 20px 12px;
}

.button {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 999em;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53c28b;
  color: white;
}
